.hero{
    /* border: 1px solid black; */
    height: 50vh;
    width: 90vw;
    margin: auto;
    margin-top: 5vh;
}

.heroImg {
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    border-radius: 30px;
    background-image: url('../../public/hero.svg');
}

.venues{
    /* border: 1px solid red; */
    max-width: 80vw;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
